<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Port de Plaisance Russell</h1>
    <h2>Tableau de bord</h2>

    <p>Nombre de catways : <strong><%= catways.length %></strong></p>

    <a href="/dashboard/catways">Voir tous les catways</a>
</body>
</html>